@main("Database Monitoring") {

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                <div id="farmProd_img" class="span2">
                    <div class="row-fluid">
                        <div class="span12">
                            <img src="@routes.Assets.at("images/farm.png")">
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div id="status">
                    <!-- content will be added by the mustache template -->
                    </div>
                </div>
            </div>
        </div>
    </div>
}